<!DOCTYPE html>
<html lang="en" dir="rtl">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://kit.fontawesome.com/b13ea12300.js" crossorigin="anonymous"></script>
        <title>کاربران</title>  
        {%load static%}
        {%block link%}
        {%endblock%}
    </head>
    
    <body>
        {%include 'inc/navbar.html'%}
        {%include 'inc/notif.html'%}
        
        {%block content%}
            
        {%endblock%}

       

    </body>
</html>